[submodule "test/catch"]
	path = test/catch
	url = ../../mirror/catch.git
[submodule "ci/docker"]
	path = ci/docker
	url = ../../ci_utils/docker.git
[submodule "ci/style"]
	path = ci/style
	url = ../../ci_utils/style.git
